@font-face {
	font-family: Oswald;
	src: url('./font/Oswald-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: url('./font/Oswald-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: url('./font/Oswald-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Inter;
	src: url('./font/Inter_18pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	src: url('./font/Inter_18pt-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	src: url('./font/Inter_18pt-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
	interpolate-size: allow-keywords;

	--background: linear-gradient(45deg, #0c0a09 0%, #1c1917 45%, #0c0a09 100%);
	--header: linear-gradient(90deg, #1c1917e0, #2dd4bf, #0c0a09);
	--btn-accent: linear-gradient(135deg, #fb923c, #ea580c);
	--btn-inherit: #fff7ed;
	--accent: linear-gradient(135deg, #f97316, #c2410c);
	--sub-title: linear-gradient(-135deg, #2dd4bf30, #042f2e);
	--gift: #f0fdfae1;
	--gift-bg: rgba(251, 146, 60, 0.1);
	--gift-btn: linear-gradient(135deg, #9a3412, #431407);
	--border-radius: 10px;
	--container: #0c0a09;
	--table: linear-gradient(180deg, #1c1917, #0c0a09);
	--minus: #38bdf8;
	--shadow: #fb923c50;
	--second-shadow: #ea580c;
	--text-shadow: #2dd4bf;
	--list-bg: linear-gradient(90deg, rgba(45, 212, 191, 0.1), rgba(251, 146, 60, 0.1));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-overflow: clip;
}

ul {
	list-style: '➤';
	margin-left: 25px;
}

ul li,
ol li {
	position: relative;
	z-index: 1;
	background: var(--list-bg);
}

ul li {
	padding: 5px 10px;
	margin: 8px 20px;
}

ul li::marker {
	color: var(--minus);
}

ol li {
	padding: 8px;
	margin: 5px 5px 5px 45px;
}

ol li::before {
	content: '';
	position: absolute;
	top: 8px;
	left: -22px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: var(--second-shadow);
	z-index: -1;
}

ol {
	list-style-position: outside;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
video {
	width: 80%;
	height: auto;
	display: block;
	border-radius: var(--border-radius);
}

button {
	all: unset;
	cursor: pointer;
	box-sizing: border-box;
}

input,
textarea,
button,
select {
	font: inherit;
	border: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	color: var(--btn-inherit) fff;
}

h1 {
	font-weight: 700;
	font-size: 2.4rem;
}

h2 {
	font-size: 1.8rem;
	font-weight: 700;
	text-shadow: 2px 2px 3px var(--minus);
}

h3 {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 10px;
	margin-bottom: 10px;
	border-left: 3px solid var(--minus);
	background: var(--sub-title);
}

.txt {
	font-size: 1rem;
	margin: 10px 10px 20px 10px;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--background);
	color: var(--btn-inherit);
	box-sizing: border-box;
}

main {
	width: 100%;
	margin: 0 auto;
}

header {
	padding: 10px 200px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--header);
	box-shadow: 0 3px 3px var(--shadow);
	max-width: 100vw;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 100;
	overflow: hidden;
}

header img {
	width: 120px;
	height: auto;
	border-radius: 10px;
}

.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h-violet-btn {
	padding: 10px 20px;
	font-size: 1rem;
	border: 1px solid var(--btn-inherit);
	margin-right: 5px;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
}

.h-accent-btn {
	padding: 12px 20px;
	font-size: 1rem;
	background: var(--btn-accent);
	box-shadow: 3px 3px 3px var(--gift);
	text-align: center;
	font-weight: 700;
	transition: all 0.3s ease;
}

.h-app-link {
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.5s ease;
}

.h-accent-btn:hover {
	background: white;
	color: var(--minus);
}

.h-violet-btn:hover,
.h-accent-btn:hover {
	transform: scale(0.9);
	box-shadow: 1px 1px 5px var(--gift);
}

.h-app-link:hover {
	font-size: 1.2rem;
}

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 0 auto;
	gap: 10px;
	background-image:
		linear-gradient(90deg, rgba(17, 22, 65, 0.89) 30%, rgba(255, 255, 255, 0) 100%), url(./img/layer.webp);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.promo-l {
	padding: 40px 60px;
	width: 70%;
	z-index: 10;
}

.promo-gift {
	position: relative;
	display: flex;
	align-items: center;
	width: 60%;
	height: auto;
	padding: 10px 30px;
	text-align: center;
	background: var(--gift-bg);
	backdrop-filter: blur(5px);
}

.gift-box {
	position: absolute;
	left: 0;
	background: var(--gift);
	border-radius: 100%;
	display: none;
	width: 84px;
	height: auto;
	align-items: center;
	justify-content: center;
	padding: 12px;
	margin: 0px auto;
	margin-top: -48px;
}

.txt-accent {
	color: var(--minus);
	font-size: 2rem;
	line-height: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow:
		0 0 10px var(--btn-inherit),
		0 0 24px var(--minus),
		-0.2rem 0.1rem 16px var(--minus),
		0.2rem 0.1rem 16px var(--minus),
		0 -0.5rem 32px var(--text-shadow),
		0 0.5rem 48px var(--text-shadow);
	animation:
		shine 2s forwards,
		flicker 3s infinite;
}

.flicker {
	animation:
		shine 2s forwards,
		blink 3s 2s infinite;
}

.fast-flicker {
	animation:
		shine 2s forwards,
		blink 10s 1s infinite;
}

.btn-accent {
	display: inline-block;
	padding: 10px 12px;
	font-size: 1rem;
	background: var(--gift-btn);
	color: var(--btn-inherit) fff;
	border-radius: 10px;
	text-align: center;
	font-weight: 700;
	margin: 10px auto;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
}

.btn-accent:hover {
	transform: scale(1.1);
}

.container {
	padding-bottom: 10px;
	margin: 30px auto;
	background: var(--container);
	box-shadow: 0 0 13px var(--second-shadow);
}

.container:nth-child(odd) {
	transform: translateX(-30px);
}

.container:nth-child(even) {
	transform: translateX(30px);
}

.container:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 50px;
	height: 55px;
	border-style: dotted;
	border-color: var(--minus);
	z-index: -1;
}

.container:nth-child(odd):not(:last-child)::after {
	left: 20px;
	border-width: 0 0 2px 2px;
	border-bottom-left-radius: 20px;
}

.container:nth-child(even):not(:last-child)::after {
	right: 10px;
	border-width: 0 2px 2px 0;
	border-bottom-right-radius: 20px;
}

.container__header {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
	background: var(--btn-accent);
	overflow: hidden;
}

.container__header::before {
	content: '';
	position: absolute;
	left: -30px;
	aspect-ratio: 1 / 1;
	height: 100%;
	background: var(--minus);
	transform: rotate(45deg);
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.8);
}

.container__body {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px auto;
}

.table-wrapper {
	overflow-x: auto;
	margin: 1.5rem 0;
	width: 100%;
}

.table-wrapper table {
	width: 100%;
	border-collapse: collapse;
	color: var(--white);
	font-size: 1rem;
	min-width: 320px;
	background: var(--gift-btn);
}

thead {
	background: var(--table);
}

table td,
table th {
	border: 1px solid var(--background);
	padding: 8px;
}

table tr:nth-child(even) {
	background: var(--second-shadow);
	box-shadow: 0 3px 3px var(--gift-bg);
}
.row-title {
	padding-left: 10px;
	font-weight: bold;
}

.img {
	display: flex;
	justify-content: center;
	position: relative;
}

.quote {
	padding: 0 10px;
	border-left: 1px solid var(--minus);
	border-right: 1px solid var(--minus);
}

hr {
	width: 100%;
	border-top: 1px solid var(--btn-inherit);
	border-radius: 10px;
	margin-top: 10px;
}

.comparison-list {
	display: flex;
	align-items: start;
	justify-content: space-evenly;
	gap: 30px;
}

.faq-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: var(--table);
	padding: 10px;
}

.qa-content {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
}

details::details-content {
	transition:
		height 1s ease,
		opacity 2s ease;
	height: 0;
	opacity: 0;
}

details[open]::details-content {
	height: auto;
	opacity: 1;
}

summary {
	list-style: none;
	cursor: pointer;
	border-left: 5px solid var(--minus);
}

.qa-title {
	width: 100%;
	position: relative;
	margin: 0;
	display: block;
	cursor: pointer;
}

.qa-answaer {
	font-size: 18px;
	padding: 10px;
	margin-left: 10px;
	color: var(--btn-inherit);
	background: var(--second-shadow);
}

.rewiev-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.user-img {
	width: 100px;
	margin: 0 auto;
	border-radius: 50%;
}

.about-author {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

.author-img {
	width: 100px;
	height: auto;
}

.about-author .txt {
	padding: 5px;
	margin: 0 20px;
}

.top-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background: var(--accent);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	transition: all 0.3s ease;
	box-shadow: 0 4px 12px var(--shadow);
	animation: fade-in linear both;
	animation-timeline: scroll();
	animation-range: 0 800px;
}

.top-btn a {
	text-decoration: none;
	color: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
}

.top-btn::after {
	content: '';
	width: 12px;
	height: 12px;
	border-top: 3px solid var(--btn-inherit);
	border-left: 3px solid var(--btn-inherit);
	transform: rotate(45deg);
	margin-top: 5px;
	pointer-events: none;
}

.cookie-checkbox {
	display: none;
}

.cookie-checkbox:checked + .cookie-modal {
	display: none;
}

.cookie-modal {
	position: fixed;
	bottom: 0;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-around;
	padding: 10px 20px;
	background: var(--second-shadow);
	box-shadow: 0 0 5px var(--minus);
	z-index: 100;
	transition: opacity 0.3s ease;
}

.cookie-modal .txt {
	margin: 10px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: auto;
	border-radius: 50%;
	background: var(--btn-inherit);
	& img {
		width: 100%;
	}
}

.agree {
	cursor: pointer;
	background: var(--shadow);
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
	width: 100%;
	padding: 20px 300px;
	background: var(--header);
	text-align: center;
}

.f-nav {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	transition: all 0.4s ease-in-out;
}

.f-nav li {
	margin: 0;
	background: none;
}

.f-nav li:hover {
	color: var(--btn-accent);
}

footer a img {
	width: 80px;
	height: auto;
}
.f-active {
	color: var(--btn-accent);
}

@media (max-width: 1024px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	ul {
		margin-left: 0;
	}

	header {
		padding: 6px;
		margin: 0 auto;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		gap: 4px;
		max-width: 100vw;
		margin: 0 auto;
		position: sticky;
		top: 0;
		z-index: 100;
	}

	header img {
		max-width: 100px;
	}

	.h-violet-btn {
		margin-right: 10px;
	}

	.h-violet-btn,
	.h-accent-btn {
		padding: 10px 14px;
	}

	.header-app {
		position: absolute;
		bottom: -24px;
		background: var(--header);
		width: 100vw;
	}

	.promo {
		width: 100%;
		padding: 20px 10px;
		margin: 0 auto;
		flex-direction: column;
	}

	.promo-l {
		width: 100%;
		padding: 20px;
	}

	.promo-gift {
		width: 100%;
		padding: 10px;
	}

	.txt-accent {
		font-size: 1rem;
	}

	.container:not(:last-child)::after {
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 50px;
		border-width: 0 0 0 2px;
		border-style: dotted;
		border-color: var(--second-shadow);
		border-radius: 0;
		z-index: -1;
	}

	.container:nth-child(odd):not(:last-child)::after {
		left: 50%;
	}

	.container__header::before {
		transform: none;
		aspect-ratio: 1/2;
	}

	table {
		width: 100%;
	}

	.comparison-list {
		flex-direction: column;
	}

	.wrapper {
		max-width: 100%;
		padding: 10px;
		margin: 20px auto;
	}

	.container:nth-child(odd) {
		transform: translateX(0);
	}

	.container:nth-child(even) {
		transform: translateX(0);
	}

	.top-btn {
		right: 10px;
		bottom: 10px;
		width: 35px;
		height: 35px;
	}

	.cookie-modal {
		flex-direction: column;
		padding: 10px;
		gap: 8px;
	}

	.cookie-modal .txt {
		font-size: 0.75rem;
	}

	.agree {
		padding: 5px 10px;
	}

	footer {
		padding: 10px;
		text-align: center;
		gap: 15px;
	}

	footer ul:first-child {
		flex-direction: column;
	}
}

/* Animation */

@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	25% {
		border-radius: 45% 55% 50% 50% / 55% 45% 55% 45%;
	}
	50% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	75% {
		border-radius: 55% 45% 40% 60% / 45% 55% 45% 55%;
	}
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

@keyframes float {
	0%,
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
	33% {
		transform: translate(30px, -50px) rotate(5deg);
	}
	66% {
		transform: translate(-20px, 20px) rotate(-5deg);
	}
}

@keyframes pulse-shadow {
	0% {
		box-shadow: 0 0 25px 3px var(--second-shadow);
	}
	50% {
		box-shadow: 0 0 15px 8px var(--second-shadow);
	}
	100% {
		box-shadow: 0 0 25px 3px var(--second-shadow);
	}
}

@keyframes blink {
	0%,
	22%,
	36%,
	75% {
		color: var(--btn-inherit);
		text-shadow:
			0 0 0.6rem var(--btn-inherit),
			0 0 1.5rem var(--minus),
			-0.2rem 0.1rem 1rem var(--minus),
			0.2rem 0.1rem 1rem var(--minus),
			0 -0.5rem 2rem var(--text-shadow),
			0 0.5rem 3rem var(--text-shadow);
	}
	28%,
	33% {
		color: var(--minus);
		text-shadow: none;
	}
	82%,
	97% {
		color: var(--text-shadow);
		text-shadow: none;
	}
}

@keyframes shine {
	0% {
		color: #6b1839;
		text-shadow: none;
	}
	100% {
		color: var(--btn-inherit);
		text-shadow:
			0 0 0.6rem var(--btn-inherit),
			0 0 1.5rem var(--minus),
			-0.2rem 0.1rem 1rem var(--minus),
			0.2rem 0.1rem 1rem var(--minus),
			0 -0.5rem 2rem var(--text-shadow),
			0 0.5rem 3rem var(--text-shadow);
	}
}

@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.99;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.98;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.96;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.97;
	}

	46% {
		opacity: 0.94;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.95;
	}

	93% {
		opacity: 0.93;
	}

	95% {
		opacity: 0.95;
	}

	97% {
		opacity: 0.93;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

/* End Animation */
